  <main>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-4">
                    <h2 class="text-center"> {{ productsTitle }} </h2>
                </div>
            </div>
            <div class="row">
                {% if products %}
                {% for product in products %}
                   <div class="col-6 col-md-4 my-3">
                    <div class="card card-product">
                        <div class="card-header card-product-header">
                            <img src="/assets/img/{{ product.imagen }}" class="card-product-img" alt="producto-{{ product.tipoProducto }}">
                        </div>
                        <div class="card-body card-product-body">
                            <h4 class="card-title card-product-title text-center"></h4>
                            <hr class="divider-card">
                            <p class="card-text card-product-text">
                                {{ product.descripcion }}
                                <br>
                                <br>
                                <span> Precio ${{ product.precio }}</span>   
                            </p>
                            <hr class="divider-card">
                            <div class="card-product-price text-right">
                            <button class="btn btn-outline-warning btn-add"  product-ID = "{{ product.idProducto }}"  product-name = "{{ product.nombre }}"  product-img = "{{ product.imagen }}"  product-price = "{{ product.precio }}" >
                                Añadir
                                <i class="fas fa-cart-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>        
                </div>
                {% endfor %}
                {% else %}
                <div class="col-6 col-md-4 my-3">
                    <h2 class="text-center">No hay productos</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </main>